header, nav{
    /*background-color: blue;*/
    background-color: rgb(168, 11, 11);
      color: rgb(8, 8, 8);
      /*margin: -4px 1px 0px - 8px;*/
      /*margin-top: -8px;*/
      /*width: 100%;*/
      /*padding-top: 10px;*/
      /*padding-left: 10px;*/
      /*padding-bottom: 10%;*/
}
nav a{
      text-decoration: none;
      color: rgba(0, 0, 0, 0.774);
}
nav li {
  display: inline-block;
  margin-left: 210px;
  margin-top: 0;
  padding: 10px;
  background-color: #ddd;
}

