header, nav{
    /*background-color: blue;*/
    background-color: rgb(168, 11, 11);
      color: rgb(8, 8, 8);
      /*margin: -4px 1px 0px - 8px;*/
      /*margin-top: -8px;*/
      /*width: 100%;*/
      /*padding-top: 10px;*/
      /*padding-left: 10px;*/
      /*padding-bottom: 10%;*/
}
nav a{
      text-decoration: none;
      color: rgba(0, 0, 0, 0.774);
}
nav li {
  display: inline-block;
  margin-left: 210px;
  margin-top: 0;
  padding: 10px;
  background-color: #ddd;
  }

    header
            body {
                font-family: arial, sans-serif;
            }
            h1 {
                font-size: 2em;
                text-align: left;
            }
            aside {
                width: 15%;
                padding-left: 15px;
                margin-left: 15px;
                float: right;
                font-style: italic;
                background-color: lightgreen;
                /* Add the following properties to lift the text */
                margin-top: -560px; /* Adjust the value as needed */
                padding-top: 10px; /* Adjust the value as needed */
              } 
